{{!-- Create handlebar HTML to find post to comment on and post --}}
<div class="post card">
    <div class="card-header">
        <h2>{{post.title}}</h2>
        <div>
            <p>Created by {{post.User.username}} on {{formatDate}}</p>
        </div>
    </div>
    <div class="card-body">
        {{post.body}}
    </div>

    // If a comment is placed
    {{#if post.Comments}}
    <section class="card">
        <div class="card-header">
            <h3>Comments</h3>
        </div>
        <div class="card-body">
            {{#each post.Comments}}
            <div>
                <p>{{body}}</p>
            </div>
            {{/each}}
        </div>
    </section>
    {{/if}}

    // Adding a comment to a post
    <form id="newComment-form" class="card">
        <div class="card-header">
            <h3>Add A New Comment></h3>
            </div>
            
        <div class="card-body">
            <input type="hidden" name="post-id" value="{{post.id}}" />
            <label for="comment-body" class="form-label">Comment:</label>
            <textarea name="comment-body" class="form-input"></textarea>
        </div>
        {{!-- <input type="hidden" name="post-id" value="{{post.id}}" /> --}}
        <button type="submit">Add Comment</button>
    </form>
</div>
<script src="/js/comment.js"></script>